In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,recall_score,roc_auc_score,confusion_matrix,precision_score

In [2]:
df = pd.read_csv('data/kerala.csv')
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [3]:
df.drop(['SUBDIVISION', 'YEAR'], axis=1, inplace=True)

In [4]:
df.FLOODS = df.FLOODS.map({'YES': 1, 'NO': 0})

In [5]:
X, y = df.drop('FLOODS', axis=1), df['FLOODS']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False, random_state=1)

In [7]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
print(accuracy_score(y_train, y_pred))
print(precision_score(y_train, y_pred))
print(recall_score(y_train, y_pred))
print(roc_auc_score(y_train, y_pred))
print(confusion_matrix(y_train, y_pred))

1.0
1.0
1.0
1.0
[[44  0]
 [ 0 50]]

In [8]:
y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.9166666666666666
0.8333333333333334
1.0
0.9285714285714286
[[12  2]
 [ 0 10]]

In [11]:
imference = np.array([[
 29.1,
 52.1,
 48.6,
 116.4,
 183.8,
 625.4,
 1048.5,
 1398.9,
 423.6,
 356.1,
 125.4,
 65.1,
 4473.0]])
pd.DataFrame(model.predict(imference)).iloc[:,0].map({1:'YES', 0:'NO'})

c:\Users\saran\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

0    YES
Name: 0, dtype: object